*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;

}

.container{
  width: 98%;
  max-width: 1200px;
  margin: 0px auto;
}

.d-flex{
  display: flex;
}

.debug{
  background-color: rgba(255, 0,0,.2);
}

/* inizio header */

header .menu{
  background-color: rgb(42, 42, 254);
  height: 80px;
}

header .menu .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo img{
height: 80px;
width: 120px;
}

nav{
  justify-content: space-around;
  align-items: center;
}

ul li{
  list-style: none;
  justify-content: center;
  text-align: center;
  padding: 0px 15px;
}

li a{
  color:white;
  display: inline-block;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.btn{
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 30px;
  padding: 10px 15px;
  display: inline;
}

.login a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.sfondo{
  height: 600px;
}

.sfondo img{
  height: 600px;
  width: 1200px;
}

.hero{
  height: 500px;
  justify-content: center;
  align-items: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.hero .content{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  max-width: 900px;
  text-align: center;
  color: white;
}

.hero .content h1,span{
  margin: 10px 0;
  padding: 10px 10px
}

.bottom-white{
  color: black;
}

.bottom-black{
  background-color: black;
  color: white;
}

.row .bottom-black,.bottom-white{
  margin: 0px 10px;
  font-weight: 600;
}

/* fine header */


/* inizio main */

section{
  padding: 40px 0;
}

section .container{
  height: 450px;
}

section:last-child .container{
flex-direction: column;
justify-content: space-around;
text-align: center;
height: auto;
}

.big-column{
  width: 60%;
}

.img-one{
  background-image: url(../img/item1.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-two{
  background-image: url(../img/item2.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-three{
  background-image: url(../img/item3.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-four{
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 100%;
}



.bg-gray{
  background-color: lightgray;
  
}
.small-column{
  width: 40%;
  text-align: left;
  flex-direction: column;
  align-self: stretch;
}

.small-column h2{
  font-size: 2rem;
  text-align: left;

}

.big-content div{
  margin: 15px 0;
}

.title{
  font-weight: 700;
  font-size: 2.2rem;
}

.text{
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  display: inline-block;
}

.btn-bottom{
  display: inline-block;
  background-color:rgb(76, 76, 217);
  color: white;
  width: 15%;
  text-align: center;
  padding: 10px 10px;
  border-radius: 30px;
}

/* fine main */

/* inizio footer */

footer{
  height: 800px;
  background-color: black;
}

footer .foot{
  flex-direction: column;
  color: white;
  padding-top: 100px;
}

.footer-top{
  height: 600px; 
  width: 100%;
  border-bottom: 1px solid rgba(76, 76, 217, 0.5);

}

.footer-top .social{
  width: 30%; 
}

.footer-top .social h2{
  color:rgb(76, 76, 217);
}

.footer-top .menu{
  width: 70%;
}

.footer-top .menu .col{
  width: 25%;
}

.social{
  flex-direction: column;
}

.social img{
  height: 15px;
  width: 30px;
  padding-right: 10px;
}

.social i{
  padding-left: 5px;
}

.social-logo a{
  color: white;
  font-size: 1.4rem;
  padding: 0px 10px;
}

.menu .col{
  flex-direction: column;
}

.col h4,a{
  display: inline-block;
  text-decoration: none;
  text-align: left;
  color:rgb(76, 76, 217);
  padding-bottom: 5px;
}


.col span{
  padding: 5px 0px;
}

.col span a {
  color: white;
}

.footer-bottom{
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-top: 15px;
}

.sign-in{
  background-color:rgb(76, 76, 217);
}

/* fine footer */



